{% for aclname, infoname in data.items() %}
ipv4 access-list acl_{{aclname}}
{% for aclid, infoid in infoname.aces.items() -%} 
{% if infoid.matches.l4 is defined -%}
{% if infoid.matches.l4.tcp is defined -%}
{% if infoid.matches.l3.ipv4.destination_network is defined -%}
{% if infoid.matches.l3.ipv4.source_network.any is defined -%}
{% if infoid.matches.l4.tcp.destination_port is defined %}
{{infoid.actions.forwarding}} tcp any any {{infoid.matches.l4.tcp.destination_port.operator.operator}} {{infoid.matches.l4.tcp.destination_port.operator.port}} 
{% else %}
{{infoid.actions.forwarding}} tcp any any
{% endif -%}
{% endif -%}
{% endif -%}
{% endif -%}
{% if infoid.matches.l4.udp is defined -%}
{% if infoid.matches.l3.ipv4.destination_network is defined -%}
{% if infoid.matches.l3.ipv4.source_network is defined -%}
{% if infoid.matches.l4.udp.destination_port is defined %}
{{infoid.actions.forwarding}} udp any any {{infoid.matches.l4.udp.destination_port.operator.operator}} {{infoid.matches.l4.udp.destination_port.operator.port}} 
{% else %}
{{infoid.actions.forwarding}} tcp any any
{% endif %}
{% endif -%}
{% endif -%}
{% endif -%}
{% endif -%}
{% if infoid.matches.l3.ipv4.protocol == "ipv4" -%}
{% if infoid.matches.l3.ipv4.destination_network is not defined -%}
{% for ip in infoid.matches.l3.ipv4.source_network %}
{{infoid.actions.forwarding}} {{ip}}
{% endfor %}
{% endif -%}
{% endif -%}
{% if infoid.matches.l3.ipv4.protocol == "ipv4" -%}
{% if infoid.matches.l3.ipv4.destination_network is defined -%}
{% for ips in infoid.matches.l3.ipv4.source_network -%}
{% for ipd in infoid.matches.l3.ipv4.destination_network %}
{{infoid.actions.forwarding}} {{ips}} {{ipd}}
{% endfor %}
{% endfor -%}
{% endif -%}
{% endif -%}
{% endfor -%}
!
{% endfor %}