{% for vrfname, infoname in data.items() %}
vrf {{ vrfname }}
{% if infoname.description is defined %}
description {{ infoname.description }}
{% endif %}
{% if infoname.address_family is defined %}
address-family ipv4 unicast
{% for i4,infoi4 in infoname.address_family.items() %}
{% if infoi4.route_targets is defined %}
{% for rt,infort in infoi4.route_targets.items() %}
{% if infort.rt_type is defined %}
{% if infort.rt_type == "both" %}
export route-target {{ rt }}
import route-target {{ rt }}
{% endif %}
{% if infort.rt_type == "export" %}
export route-target {{ rt }}
{% endif %}
{% if infort.rt_type == "import" %}
import route-target {{ rt }}
{% endif %}
{% endif %}
{% endfor -%}
{% endif %}
{% if infoi4.routing_table_limit is defined %}
{% if infoi4.routing_table_limit.routing_table_limit_number is defined %}
{% if infoi4.routing_table_limit.routing_table_limit_action.enable_alert_percent.alert_percent_value is defined %}
maximum prefix {{ infoi4.routing_table_limit.routing_table_limit_number }} {{ infoi4.routing_table_limit.routing_table_limit_action.enable_alert_percent.alert_percent_value }}
{% endif %}
{% endif %}
{% endif %}
{% endfor -%}
{% endif %}
!
{% endfor -%}